## Part 1: Generating Training and Testing Data
Before we can get started with differential privacy models, we first need to get the data to train and test the models.  
To do that, we will take the grade distributions from the UW-Madison Registrar's office and randomly sample them.

In [1]:
DATA_FOLDER = './data'

In [2]:
import pandas as pd
import os
import random
import numpy as np
import math

### Reading the Dataset

In [3]:
def read_file_into_pd(file_name):
    return pd.read_csv(os.path.join(DATA_FOLDER, file_name))

In [4]:
grade_distributions = read_file_into_pd('grade_distributions.csv')
course_offerings = read_file_into_pd('course_offerings.csv')
courses = read_file_into_pd('courses.csv')
cs_courses = pd.read_csv('cs.csv', names=['name'])

In [5]:
grade_distributions.head()

,course_offering_uuid,section_number,a_count,ab_count,b_count,bc_count,c_count,d_count,f_count,s_count,u_count,cr_count,n_count,p_count,i_count,nw_count,nr_count,other_count
0,344b3ebe-da7e-314c-83ed-9425269695fd,1,105,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,f718e6cd-33f0-3c14-a9a6-834d9c3610a8,1,158,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2,ea3b717c-d66b-30dc-8b37-964d9688295f,1,139,12,2,0,3,0,0,0,0,0,0,0,0,0,0,0
3,075da420-5f49-3dd0-93df-13e3c152e1b1,1,87,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
4,2b4e216d-a728-3713-8c7c-19afffc6b2fd,1,70,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0

In [6]:
course_offerings.head()

,uuid,course_uuid,term_code,name
0,344b3ebe-da7e-314c-83ed-9425269695fd,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1092,Cooperative Education Prog
1,f718e6cd-33f0-3c14-a9a6-834d9c3610a8,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1082,Cooperative Education Prog
2,ea3b717c-d66b-30dc-8b37-964d9688295f,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1172,Cooperative Education Prog
3,075da420-5f49-3dd0-93df-13e3c152e1b1,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1114,Cooperative Education Prog
4,2b4e216d-a728-3713-8c7c-19afffc6b2fd,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1104,Cooperative Education Prog

In [7]:
courses.head()

,uuid,name,number
0,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,Cooperative Education Program,1
1,c070a84f-648f-351d-9499-5d0e30ad02cc,Cooperative Education/Co-op in Life Sciences C...,1
2,e6b4b7ae-0e0b-3aa5-9d77-7fcd90c9cfa3,Cooperative Education Program,1
3,8f63bde1-ff7f-3fe7-9901-862908bf134c,Workshop in Dance Activity,1
4,f3541888-584a-3923-9ce7-6341ff3d84a1,Cooperative Education/Co-op in Agricultural & ...,1

In [8]:
cs_courses.head()

                                                name
0                                      PROGRAMMING I
1                        INTRODUCTION TO COMPUTATION
2                                 DATA PROGRAMMING I
3               INTRODUCTION TO DISCRETE MATHEMATICS
4  DIGITAL SOCIETY: THE IMPACT OF COMPUTERS AND C...

### Calculate the weight range to bias student distributions

In [9]:
# Dictionary to help convert the dataset labels into easier to use values
distribution_renaming_dictionary = {
    "a_count": "A",
    "ab_count": "AB",
    "b_count": "B",
    "bc_count": "BC",
    "c_count": "C",
    "d_count": "D",
    "f_count": "F",
}


# List of grades that we're not interested in. All courses which have only these grades will be eventually filtered out
distribution_grades_to_drop = ["s_count","u_count","cr_count","n_count","p_count","i_count","nw_count","nr_count","other_count"]


# Functions to get data out of the dataset
def get_ids_for_course_name(name):
    return courses[courses['name'].str.lower() == name.lower()].uuid.tolist()

def get_offering_ids_for_course_ids(ids):
    return course_offerings[course_offerings.course_uuid.isin(ids)].uuid.tolist()

def get_ids_for_course_offering_name(name):
    return course_offerings[course_offerings.name.str.lower() == name.lower()].uuid.tolist()

def get_grades_for_course_offerings(course_offering_ids):
    return grade_distributions[grade_distributions.course_offering_uuid.isin(course_offering_ids)] \
        .sum().drop(['course_offering_uuid', 'section_number']).drop(distribution_grades_to_drop) \
        .rename(distribution_renaming_dictionary)

def get_grade_distribution_for_course_name(name):
    course_ids = get_ids_for_course_name(name)
    offering_ids = get_offering_ids_for_course_ids(course_ids)
    return get_grades_for_course_offerings(offering_ids)

def get_grade_distribution_for_course_offering_name(name):
    offering_ids = get_ids_for_course_offering_name(name)
    return get_grades_for_course_offerings(offering_ids)

def plot_grade_distribution(distribution, course_name):
    plot()
    plt.title(course_name)
    sns.barplot(x=distribution.index, y=distribution.values)
    

# Functions to sample probability distributions
# All the functions follow a similar algorithm:
    # Each distribution contains a count for each element in the distribution
    # The cumulative sum of each distribution is taken
    # A random value between 0 and the highest cumulative sum is generated from a uniform distribution
    # This value is then used to pick the corresponding element from the distribution
# If a distribution is biased, then the algorithm is slightly modified:
    # The distribution's counts are increased or decreased as per the bias and weights
    # Then the above algorithm is applied
def sample_distribution(distribution):
    cumulative_sum = distribution.cumsum()
    r = random.randint(0, cumulative_sum['F'])
    for (index, value) in cumulative_sum.items():
        if value >= r:
            return index

def sample_courses(courses):
    cumulative_sum = courses['students'].cumsum()
    highest_value = cumulative_sum.iloc[len(filtered_cs_courses)-1]
    r = random.randint(0, highest_value)
    for (index, value) in cumulative_sum.items():
        if value >= r:
            return index

def sample_distribution_biased(distribution, bias):
    distribution_copy = distribution.copy()
    for ((index, value), weight) in zip(distribution.items(), weight_range):
        delta = value * bias * weight
        new_value = value + delta
        distribution_copy[index] = math.floor(new_value)
    cumulative_sum = distribution_copy.cumsum()
    r = random.randint(0, cumulative_sum['F'])
    for (index, value) in cumulative_sum.items():
        if value >= r:
            return index

### Setting the weightage for each grade, from A through F

In [10]:
num_grades = len(distribution_renaming_dictionary)
weight_limit = 0.5
weight_range = np.linspace(start=weight_limit, stop=-weight_limit, num=num_grades)

### Drop all courses with no students

In [11]:
filtered_cs_courses = pd.DataFrame(columns=['name', 'students'])
for course in cs_courses['name']:
    num_students = get_grade_distribution_for_course_name(course).sum()
    if (num_students != 0):
        filtered_cs_courses = filtered_cs_courses.append({'name': course, 'students': num_students}, ignore_index=True)

In [12]:
print("Dropped %d courses after filtering." % (len(cs_courses) - len(filtered_cs_courses)))
print("Now using %d courses." % len(filtered_cs_courses))

Dropped 29 courses after filtering.
Now using 94 courses.

### Sort the filtered CS courses so we can sample them

In [13]:
filtered_cs_courses = filtered_cs_courses.sort_values(by='students', ascending=False)
filtered_cs_courses.head()

                                    name students
52                        DIRECTED STUDY     7231
4   INTRODUCTION TO COMPUTER ENGINEERING     5185
2   INTRODUCTION TO DISCRETE MATHEMATICS     3842
10  MACHINE ORGANIZATION AND PROGRAMMING     3660
9            DIGITAL SYSTEM FUNDAMENTALS     3222

In [14]:
def generate_transcripts(num_students=100_000):
    # Create a DataFrame to hold our generated transcripts
    transcripts = pd.DataFrame(columns=filtered_cs_courses['name'])
    
    for i in range(num_students):  # For each student
        # We'll store the selected courses of a student in a set to guarantee unique courses per student
        random_courses = set([])
        
        # Each student transcript is a Series, which will be appended to the DataFrame
        student_transcript = pd.Series(index=transcripts.columns)
        
        # Generate a random bias for a student.
        # Higher values mean that a student is better, so they will have higher chances of getting better grades.
        # Lower values mean that a student is worse, so they will have higher chances of getting worse grades.
        bias = random.uniform(-2, 2)
        
        while len(random_courses) < 8:  # Generate 8 courses per student
            # First sample the CS courses to get a course with a weighted probability
            random_course_number = sample_courses(filtered_cs_courses)
            
            # Get the name of that course
            name = filtered_cs_courses.iloc[random_course_number]['name']
            
            if name in random_courses:  # This course already exists in the current student's transcript
                continue
            
            # Get the grade distribution for that course and add this course to the set
            distribution = get_grade_distribution_for_course_name(name)
            random_courses.add(name)
            
            # Get the grade for a student from a course's grade distribution, biasing the sampling using the student bias
            student_transcript[name] = sample_distribution_biased(distribution, bias)
        
        # Store the randomly generated student transcript in the DataFrame
        transcripts = transcripts.append(student_transcript, ignore_index=True)
        
        # Report progress
        if i%100 == 0:
            print("%d/%d..." % (i, num_students))
    
    print("Done!")
    transcripts.to_csv('transcripts.csv')

In [15]:
generate_transcripts(num_students=50_000)

0/50000...
100/50000...
200/50000...
300/50000...
400/50000...
500/50000...
600/50000...
700/50000...
800/50000...
900/50000...
1000/50000...
1100/50000...
1200/50000...
1300/50000...
1400/50000...
1500/50000...
1600/50000...
1700/50000...
1800/50000...
1900/50000...
2000/50000...
2100/50000...
2200/50000...
2300/50000...
2400/50000...
2500/50000...
2600/50000...
2700/50000...
2800/50000...
2900/50000...
3000/50000...
3100/50000...
3200/50000...
3300/50000...
3400/50000...
3500/50000...
3600/50000...
3700/50000...
3800/50000...
3900/50000...
4000/50000...
4100/50000...
4200/50000...
4300/50000...
4400/50000...
4500/50000...
4600/50000...
4700/50000...
4800/50000...
4900/50000...
5000/50000...
5100/50000...
5200/50000...
5300/50000...
5400/50000...
5500/50000...
5600/50000...
5700/50000...
5800/50000...
5900/50000...
6000/50000...
6100/50000...
6200/50000...
6300/50000...
6400/50000...
6500/50000...
6600/50000...
6700/50000...
6800/50000...
6900/50000...
7000/50000...
7100/50000...
7200/50000...
7300/50000...
7400/50000...
7500/50000...
7600/50000...
7700/50000...
7800/50000...
7900/50000...
8000/50000...
8100/50000...
8200/50000...
8300/50000...
8400/50000...
8500/50000...
8600/50000...
8700/50000...
8800/50000...
8900/50000...
9000/50000...
9100/50000...
9200/50000...
9300/50000...
9400/50000...
9500/50000...
9600/50000...
9700/50000...
9800/50000...
9900/50000...
10000/50000...
10100/50000...
10200/50000...
10300/50000...
10400/50000...
10500/50000...
10600/50000...
10700/50000...
10800/50000...
10900/50000...
11000/50000...
11100/50000...
11200/50000...
11300/50000...
11400/50000...
11500/50000...
11600/50000...
11700/50000...
11800/50000...
11900/50000...
12000/50000...
12100/50000...
12200/50000...
12300/50000...
12400/50000...
12500/50000...
12600/50000...
12700/50000...
12800/50000...
12900/50000...
13000/50000...
13100/50000...
13200/50000...
13300/50000...
13400/50000...
13500/50000...
13600/50000...
13700/50000...
13800/50000...
13900/50000...
14000/50000...
14100/50000...
14200/50000...
14300/50000...
14400/50000...
14500/50000...
14600/50000...
14700/50000...
14800/50000...
14900/50000...
15000/50000...
15100/50000...
15200/50000...
15300/50000...
15400/50000...
15500/50000...
15600/50000...
15700/50000...
15800/50000...
15900/50000...
16000/50000...
16100/50000...
16200/50000...
16300/50000...
16400/50000...
16500/50000...
16600/50000...
16700/50000...
16800/50000...
16900/50000...
17000/50000...
17100/50000...
17200/50000...
17300/50000...
17400/50000...
17500/50000...
17600/50000...
17700/50000...
17800/50000...
17900/50000...
18000/50000...
18100/50000...
18200/50000...
18300/50000...
18400/50000...
18500/50000...
18600/50000...
18700/50000...
18800/50000...
18900/50000...
19000/50000...
19100/50000...
19200/50000...
19300/50000...
19400/50000...
19500/50000...
19600/50000...
19700/50000...
19800/50000...
19900/50000...
20000/50000...
20100/50000...
20200/50000...
20300/50000...
20400/50000...
20500/50000...
20600/50000...
20700/50000...
20800/50000...
20900/50000...
21000/50000...
21100/50000...
21200/50000...
21300/50000...
21400/50000...
21500/50000...
21600/50000...
21700/50000...
21800/50000...
21900/50000...
22000/50000...
22100/50000...
22200/50000...
22300/50000...
22400/50000...
22500/50000...
22600/50000...
22700/50000...
22800/50000...
22900/50000...
23000/50000...
23100/50000...
23200/50000...
23300/50000...
23400/50000...
23500/50000...
23600/50000...
23700/50000...
23800/50000...
23900/50000...
24000/50000...
24100/50000...
24200/50000...
24300/50000...
24400/50000...
24500/50000...
24600/50000...
24700/50000...
24800/50000...
24900/50000...
25000/50000...
25100/50000...
25200/50000...
25300/50000...
25400/50000...
25500/50000...
25600/50000...
25700/50000...
25800/50000...
25900/50000...
26000/50000...
26100/50000...
26200/50000...
26300/50000...
26400/50000...
26500/50000...
26600/50000...
26700/50000...
26800/50000...
26900/50000...
27000/50000...
27100/50000...
27200/50000...
27300/50000...
27400/50000...
27500/50000...
27600/50000...
27700/50000...
27800/50000...
27900/50000...
28000/50000...
28100/50000...
28200/50000...
28300/50000...
28400/50000...
28500/50000...
28600/50000...
28700/50000...
28800/50000...
28900/50000...
29000/50000...
29100/50000...
29200/50000...
29300/50000...
29400/50000...
29500/50000...
29600/50000...
29700/50000...
29800/50000...
29900/50000...
30000/50000...
30100/50000...
30200/50000...
30300/50000...
30400/50000...
30500/50000...
30600/50000...
30700/50000...
30800/50000...
30900/50000...
31000/50000...
31100/50000...
31200/50000...
31300/50000...
31400/50000...
31500/50000...
31600/50000...
31700/50000...
31800/50000...
31900/50000...
32000/50000...
32100/50000...
32200/50000...
32300/50000...
32400/50000...
32500/50000...
32600/50000...
32700/50000...
32800/50000...
32900/50000...
33000/50000...
33100/50000...
33200/50000...
33300/50000...
33400/50000...
33500/50000...
33600/50000...
33700/50000...
33800/50000...
33900/50000...
34000/50000...
34100/50000...
34200/50000...
34300/50000...
34400/50000...
34500/50000...
34600/50000...
34700/50000...
34800/50000...
34900/50000...
35000/50000...
35100/50000...
35200/50000...
35300/50000...
35400/50000...
35500/50000...
35600/50000...
35700/50000...
35800/50000...
35900/50000...
36000/50000...
36100/50000...
36200/50000...
36300/50000...
36400/50000...
36500/50000...
36600/50000...
36700/50000...
36800/50000...
36900/50000...
37000/50000...
37100/50000...
37200/50000...
37300/50000...
37400/50000...
37500/50000...
37600/50000...
37700/50000...
37800/50000...
37900/50000...
38000/50000...
38100/50000...
38200/50000...
38300/50000...
38400/50000...
38500/50000...
38600/50000...
38700/50000...
38800/50000...
38900/50000...
39000/50000...
39100/50000...
39200/50000...
39300/50000...
39400/50000...
39500/50000...
39600/50000...
39700/50000...
39800/50000...
39900/50000...
40000/50000...
40100/50000...
40200/50000...
40300/50000...
40400/50000...
40500/50000...
40600/50000...
40700/50000...
40800/50000...
40900/50000...
41000/50000...
41100/50000...
41200/50000...
41300/50000...
41400/50000...
41500/50000...
41600/50000...
41700/50000...
41800/50000...
41900/50000...
42000/50000...
42100/50000...
42200/50000...
42300/50000...
42400/50000...
42500/50000...
42600/50000...
42700/50000...
42800/50000...
42900/50000...
43000/50000...
43100/50000...
43200/50000...
43300/50000...
43400/50000...
43500/50000...
43600/50000...
43700/50000...
43800/50000...
43900/50000...
44000/50000...
44100/50000...
44200/50000...
44300/50000...
44400/50000...
44500/50000...
44600/50000...
44700/50000...
44800/50000...
44900/50000...
45000/50000...
45100/50000...
45200/50000...
45300/50000...
45400/50000...
45500/50000...
45600/50000...
45700/50000...
45800/50000...
45900/50000...
46000/50000...
46100/50000...
46200/50000...
46300/50000...
46400/50000...
46500/50000...
46600/50000...
46700/50000...
46800/50000...
46900/50000...
47000/50000...
47100/50000...
47200/50000...
47300/50000...
47400/50000...
47500/50000...
47600/50000...
47700/50000...
47800/50000...
47900/50000...
48000/50000...
48100/50000...
48200/50000...
48300/50000...
48400/50000...
48500/50000...
48600/50000...
48700/50000...
48800/50000...
48900/50000...
49000/50000...
49100/50000...
49200/50000...
49300/50000...
49400/50000...
49500/50000...
49600/50000...
49700/50000...
49800/50000...
49900/50000...
Done!